/* Estilos globais */
body {
    font-family: "Yugioh", serif;
    background-image: url(../imagens/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    font-size: 50px;
}

.cabecalho .titulo {
    color: #430655;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

/* Título e parágrafo da index */
.h2index {
    color: #430655;
    font-size: 45px;
    display: flex;
    padding-top: 10px;
    padding-left: 400px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.pIndex {
    color: #ffffff;
    font-size: 25px;
    padding: 10px 10px 30px 10px;
    margin: 0 400px;
    white-space: pre-line;
    line-height: 1;
}


/* Menu lateral */
.menu {
    font-size: 30px;
    display: inline-block;
    background-color: #00000059;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 230px;
    left: 20px;
    width: 210px;
    height: 350px;
    border: 2px solid #000000;
    border-radius: 8px;
}

.titulo-menu {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.listaclasse {
    font-size: 30px;
}

.botao {
    font-size: 25px;
    padding-left: 10px;
    background-color: transparent;
    color: rgb(235, 227, 227);
    border: none;
    cursor: pointer;
}

/* Dropdown menu */
.dropdown {
    position: relative;
}

.dropdown a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 25px;
}

.dropdown a:hover {
    color: #00ff00;
}

.dropdown a:last-child {
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
}

.lista-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.295);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
}

.dropdown:hover .lista-links {
    display: block;
}

.lista-links li {
    padding: 10px;
}

.lista-links li a {
    text-decoration: none;
    color: white;
    display: block;
}

.lista-links li:hover {
    background-color: #f0f0f0;
}

/* Cartas estilo Yugioh */
.cartao {
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;
    position: absolute;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.lista-personagens {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    padding: 12px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.cartao .nome {
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    border: 2px solid #a67c52;
    border-radius: 4px;
}

.cartao .estrela {
    width: 20px;
    height: 20px;
    background-image: url(../imagens/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.cartao .nivel-carta {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}

.cartao .imagem-carta {
    max-width: 260px;
    align-self: center;
}

.cartao .informacoes {
    border-radius: 5px;
    max-width: 300px;
    color: #000000;
    background: radial-gradient(circle, #f3e2c8, #e4cfa5, #c4a57a);
    border: 2px solid #a67c52;
    text-align: left;
    line-height: 1.5;
    padding: 5px;
}

.cartao .informacoes .informacoes-ataque {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

.cartao .informacoes .informacoes-ataque span {
    font-size: 13px;
}

.cartao .informacoes .descricao {
    border-bottom: 1px solid #000000;
    padding: 10px;
    max-height: 95px;
    overflow-y: scroll;
    font-size: 13px;
}

/* Fundos especiais */
.fundo-1 {
    background: url(../imagens/fundo-1.jpg) no-repeat;
}

.fundo-2 {
    background: url(../imagens/fundo-2.jpg) no-repeat;
}

/* Botão seta */
.btn-seta {
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #8351fe;
}

/* Scrollbar */
body::-webkit-scrollbar-track {
    background-color: #c08057;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c08057;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c08057;
}

/* Efeitos de virada */
.carta-virada {
    display: none;
}

.carta-virada.mostrar-fundo-carta {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../imagens/fundo-carta.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 2;
}

.cartao.virar {
    transform: rotateZ(90deg);
    transition: transform 0.3s ease-in-out;
}

.esconder {
    display: none;
}

/* Ciclos */
.container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 200px 300px 0 300px;
    gap: 30px;
    margin-top: 30px;
}

.img-link, .linkCiclo {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
}

.img-link:hover, .linkCiclo:hover {
    text-decoration: none;
    color: #15ff00;
}

figure {
    margin: 0;
}

.imgCiclos {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.imgCiclos:hover {
    transform: scale(1.05);
}

figcaption {
    color: #ffffff;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
}

.linkCiclo:hover figcaption {
    color: #15ff00;
}

.historiaClerigo {
    color: #ffffff;
    font-size: 25px;
    padding: 10px 10px 30px 10px;
    margin: 0 40px;
    white-space: pre-line;
    line-height: 1;
}

/* Rodapé */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8251fe00;
    color: #15ff00;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    z-index: 999;
}
